
$color-primary: #B0FF07;
$color-primary-light: #C9FF54;
$color-primary-dark: #64802A;

$color-secondary: #22485C;
$color-secondary-light: #7195A8;
$color-secondary-dark: #4F6875
;

$color-tertiary: #5C4322;
$color-tertiary-light: #A89071;
$color-tertiary-dark: #75654F;

$color-grey-light-1: #D9D9D9;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #EFEFEF;
$color-black: #111;


//FONT

$default-font-size: 1.6rem;

//STYLING

$radius: 3px;
