.footer {
  width: 100%;
  position: relative;

  &__container {
    margin: 0 auto;
    display: flex;

    width: 80%;
    justify-content: center;
   }

  &__list {
    width: 30%;
    list-style: none;
    text-align: center;
  }
  &__list-link {
    color: $color-secondary-light;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat";
    text-transform: lowercase;
    transition: all 0.5;
    text-decoration: none;
    &:visited {
      color: $color-primary-dark;
    }
    &:link {
      color: $color-secondary-light;
    }
    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__copy {
    font-family: "Montserrat";
    color: $color-secondary;
    font-size: 1.2rem;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__logo {
    width: 30%;
    display: flex;
    flex-direction: column;

  }
  &__text {

    font-family: "Montserrat";
    color: $color-grey-light-1;
    font-size: 1.4rem;
    text-transform: lowercase;
    transform: translateX(.4rem);
    text-align: center;
  }

  &__logo-img {
    width: 40%;
    margin: 0 auto;

    @include respond(tab-port) {
      width: 80%;
      margin: 0 auto;
    }
  }

}
