.hero  { 
  border-bottom: 3px solid $color-primary;
  position: relative;
    &__header {
      &--libra {
        text-transform: uppercase;
        font-size: 20rem;
        font-weight: 100;
        font-family: "Montserrat";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: $color-primary;
    }
    &--subheading {
      text-transform: uppercase;
      font-size: 13rem;
      font-weight: 800;
      font-family: "Sofia Sans";
      position: absolute;
      top: 33.5vh;
      left: 51.5vw;
      color: rgba($color-secondary-light, .8);
  }
  
    }
  
    &__logo {
      width: 50vw;
      height: 30vh;
      position: absolute;
      top: 22vh;
      left: 20vw;
    }
  }
  